@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>@ ((Movie)ViewData["Movie"]).Name</h2>*@  @*  when using ViewData  *@
@*<h2>@ ViewBag.Movie.Name</h2>*@  @*  when using ViewBag  *@

<h2>@Model.Movie.Name</h2> @*  just use this!  *@

